header.header
  .header_col
    a(href=routes.home)
      i.fab.fa-youtube.fa-3x
        span HyeonTube
  .header_col
    form(action=routes.search, method='get')
      input(type='text', placeholder='Searching by ...', name='term')
  .header_col
    ul
      li
        a(href=routes.join) Join
      li
        a(href=routes.login) Log In