.social-login
  a(href=routes.githubLogin)
    button.social-login__btn--github
      span
        i.fab.fa-github
        |  Continue with Github
  a(href=routes.facebookLogin)     
    button.social-login__btn--facebook
      span
        i.fab.fa-facebook
        |  Continue with Facebook
