.videoPlayer {
  position: relative;
  &:hover {
    .videoPlayer__controls {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    min-width: 400px;
  }

  .videoPlayer__controls {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 0.8rem;

    position: absolute;
    width: 100%;
    min-width: 400px;
    bottom: 0.2rem;
    z-index: 9;
    font-size: 1.4vw;

    opacity: 0;
    transition: opacity 0.2s linear;

    .videoPlayer__column:first-child {
      span:first-child {
        margin-right: 0.8rem;
      }

      span:last-child {
        span:first-child {
          margin-right: 0.2rem;
        }
        span:last-child {
          margin-left: 0.2rem;
        }
      }
    }

    .videoPlayer__column:nth-child(2) {
      justify-self: center;
    }

    .videoPlayer__column:last-child {
      justify-self: end;

      span:first-child {
        margin-right: 0.8rem;
      }

      span:nth-child(2) {
        margin-right: 0.8rem;
      }
    }

    span {
      cursor: default;
      user-select: none; // disavle dragable
    }

    i:not(.fa-youtube) {
      cursor: pointer;
    }
  }

  .videoPlayer__blink-icon {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7f8c8d;

    span {
      font-size: 5vw;
      opacity: 0;
      transition: font-size 0.2s ease-in, opacity 0.2s ease-in;
    }
  }
}
