extends layouts/main 

block content
  .form-container
    form(action=`${routes.videos}${routes.upload}`, method='post', enctype='multipart/form-data')
      label(for='file') 
        h4.form-container-subheading
          | 파일 선택
        input(type='file', id='file', name='videoFile', required='true', accept='video/*')

      label(for='title') 	
        h4.form-container-subheading
          | 제목
      input(type='text', id='title' placeholder='제목을 작성해주세요', name='title', required='true')

      label(for='description') 	
        h4.form-container-subheading
          | 상세 설명
      textarea(name='description',id='description',placeholder='설명을 작성해주세요', required='true')
      
      input(type='submit', value='업로드')#jsSubmit

    //- input(type='submit', value='TEST')#jsTest

  .modal.hidden
    .modal__overlay
      .modal__content
        h1 파일 업로드 중입니다
        .modal__content--loading
          div
          div
          div
